	<footer id="footer">
				<div class="inner">

					<h2>Contact Me Here</h2>

						<div class="contact-name">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="contact-email">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="contact-message">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="contact-send">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/" target="_blank" class="icon-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/" target="_blank" class="icon-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/" target="_blank" class="icon-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/" target="_blank" class="icon-youtube"><span class="label">Youtube</span></a></li>
					</ul>

				</div>
			</footer>

