<div class="navbar">
	<nav id="menu">
		    <link rel="stylesheet" href="/public/assets/css/main.css">
			<ul class="links">
				<div class="logo"><a href="/">{{ titulo }}<span>{{ nombre }}</span></a></div>
				<li><a href="/">Home</a></li>
				<li><a href="/mystory">My Story</a></li>
				<li><a href="/mytastes">My Tastes</a></li>
			</ul>
	</nav>
</div>	