<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

{{!-- Navigation Bar --}}
{{> navbar }}

{{!-- Header --}}
        <section class="blogs-news-container">
            <div class="grid-container blogs-main-new">
                <div class="blogs-news-img-container">
                    <img src="assets/img/main-news-img.png" alt="">
                </div>
                <div class="blogs-news-info-container">
                    <h2>Let's share some of my past, present and future</h2>
                    <p>This is kinda my story, or alteast what I could write and tell to random strangers on the Internet.</p>
                </div>
            </div>
        </section>

{{!-- Body --}}

    <main class="blogs-main">
        <section class="blogs-posts-container">
            <div class="grid-container">
                <article class="post-container">
                    <img src="assets/img/past-blog.jpg" alt="">
                    <h3>My Tragic Childhood</h3>
                    <p>Born to a humble farming family, Himura was made a slave at a young age once his parents died of cholera. The boy managed to escape his captors when he’s saved by a swordsmen named Hiko Seijuro. Himura studied under the man until they came to a pass, leaving the lead to become an assassin in Kyoto. However, once Himura learns the error of his bloody way, the swordsmen puts down his weapon and roams the Japanese countryside protecting those who cannot help themselves.</p>
                    <a href="https://comicbook.com/anime/news/best-anime-backstories-origins/#4" target="_blank" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/bef-trag-blog.jpg" alt="">
                    <h3>Before the Tragedy</h3>
                    <p>Family reunion tonight at 8pm! Everyone convene in mom’s room! I was always excited about family reunions. They happened so rarely that I was just happy to have my entire family in the same room at the same time. My father would lead the conversation in his broken Spanish. Pueblo negro – is what my father used to called it. It is a direct translation from his native Chinese. He would tell us stories of living in the shadows. He would say people living en el pueblo negro have to be at home by 6pm everyday no matter what. If you were a kid and you were at your friend’s house and you wanted to play one more game of Street Fighter and it was 5:50pm, you better pinch yourself really hard for having silly thoughts and run home.</p>
                    <a href="http://www.thingsillneversay.org/story-about-my-parents.html" target="_blank" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/present-blog.jpg" alt="">
                    <h3>Myslef now!</h3>
                    <p>My name is Robert. I live in this house. That is my dog. His name is Finn. He likes sleeping. He usually sleeps under the tree.I have a lot of friends. I often play football with them. I always call them when i want to play in the park. I never go to park alone. My step-father works in a bank. He usually comes home late. He likes sitting here and reading books. He sometimes sleeps when he reads. He doesn't like playing football or watching it on TV. My step-mother is a teacher. She teaches English and she likes her students very much. She cooks delicious food for me. I love her so much but she doesn't let me eat much junk food.</p>
                    <a href="https://www.learnwithcomics.com/2014/09/the-simple-present-story.html" target="_blank" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/future-blog.jpg" alt="">
                    <h3>What Tomorrow might bring!</h3>
                    <p>I started my business in July 2013. Yesterday, I looked at my list of desires and found that all of my dreams had come true including my wealth increasing as I wanted. I had also made a wish to help my parents have a better relationship, and that has now come true also. So the law of attraction really does exist. Trust it. Now my wish is to attract the most suitable true love for me. I have been single for a long time. I hope to start dating, and then to get married soon. I hope the whole Universe will help me. Thank you.</p>
                    <a href="https://www.thesecret.tv/stories/i-realized-my-dream-of-wealth/" target="_blank" class="blogs-button">Leer más</a>
                </article>
            </div>
        </section>
    </main>

{{!-- Footer --}}

{{> footer }}

</body>
</html>