<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

{{!-- Navigation Bar --}}
{{> navbar }}

{{!-- Header --}}
        <section class="blogs-news-container">
            <div class="grid-container blogs-main-new">
                <div class="blogs-news-img-container">
                    <img src="assets/img/main-news-img.png" alt="">
                </div>
                <div class="blogs-news-info-container">
                    <h2>My tastes, and perhaps yours!</h2>
                    <p>We all have thing that we love, things that we enjoy to do, and sharing those feelings and experience with another brings us joy. In this blog I hope you found out something that we both share, and hopefully become entrail enought to messega me.</p>
                    <p>Bellow you will read about my tastes, and the reason of why I love them:</p>
                </div>
            </div>

{{!-- Body --}}

    <main class="blogs-main">
        </section>
        <section class="blogs-posts-container">
            <div class="grid-container">
                <h3></h3>
                <article class="post-container">
                    <img src="assets/img/music-blog.jpg" alt="">
                    <h3>My Love for Music</h3>
                    <p>Music plays a hugely important role in our emotional, intellectual, and even physical lives. It impacts the ways we work, relax, behave, and feel. It can make us smile or cry, it helps us bond with the people around us, and it even has the power to alleviate a range of medical conditions. The songs you love (and hate, and even the ones you feel pretty neutral about) don't just make up the soundtrack to your life -- they actually help to shape it. </p>
                    <a href="https://www.amazon.com/Why-You-Love-Music-Metallica/dp/0316260673" target="_blank" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/sports-blog.jpg" alt="">
                    <h3>My Love for Sports</h3>
                    <p>Why do I love sports? Let me count the ways….I love sports for all the amazing doors they have opened for me in my life. Playing sports have allowed me to travel the World, make new friends and experience new cultures. I have run a road race in Sweden. Played basketball in Fiji and Australia. Coached basketball in Belgium, France and The Netherlands. Played soccer with kids in Denmark. And most recently experienced shooting hoops while wearing flip-flops in The Philippines. All of this because of a bouncing ball and a desire to have fun playing the sports I love.</p>
                    <a href="https://www.kidsinthegame.com/blog/l-o-v-e-sports-today-everyday/" target="_blank" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/movie-blog.jpg" alt="">
                    <h3>My Love for Movies</h3>
                    <p>The very basic nature of cinema is to entertain people, to make them enjoy themselves by exhibiting their emotions. During the time of war while nations were fighting to establish supremacy over one another at the same time cinema was binding people together. Motion pictures had that ability to make people escape reality, even if it is only for a few hours. The basic idea of getting to escape the reality is to be able to live in an environment different from their own.</p>
                    <a href="https://www.highonfilms.com/why-do-we-love-movies/" target="_blank" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/series-blog.jpg" alt="">
                    <h3>My Love for Series</h3>
                    <p>If you have ever watched three or more episodes of a series in a single day, congratulations! You are a binge-watcher. Binging like this is something new. We do it more than ever because shows are offered up to us in ways they never were before. We don't have to wait for the networks to release their episodes one at a time, a week apart. Netflix will dump the entire season of House of Cards (and all its successors) all at once. </p>
                    <a href="https://www.psychologytoday.com/us/blog/living-single/201601/watching-tv-why-we-love-binge" target="_blank" class="blogs-button">Leer más</a>
                </article>
            </div>
        </section>
    </main>

{{!-- Footer --}}

{{> footer }}

</body>
</html>